@page
@model EjemploOracle.Razor.Pages.Categoria.CategoriaInsertarModel
@{
}
<form method="post">
    <div class="form-group">
        <label for="nombre">Categoría Nombre</label>
        <br />
        <input asp-for="@Model.newCategoria.Nombre" class="form-control" id="nombre" placeholder="Ingrese el nombre de la categoría" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Crear</button>
</form>